 .purple{
     background: purple;
     color: white;
 }

 .pink{
     background: deeppink;
     color: white;
 }

 .dashed{
     border: 1px dashed white;
     background: black;
     color: white;
 }